<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>adminpage</title>
</head>
<body>
    <input id="uid" value="<%-uid%>" type="hidden">
</body>
<script type="module">
    import { initializeApp } from "https://www.gstatic.com/firebasejs/10.5.0/firebase-app.js";
    import { getAuth ,onAuthStateChanged} from "https://www.gstatic.com/firebasejs/10.5.0/firebase-auth.js";
    import { getFirestore, doc,updateDoc ,collection, getDocs} from "https://www.gstatic.com/firebasejs/10.5.0/firebase-firestore.js";
    const firebaseConfig = {
        apiKey: "AIzaSyCu28T8AGnGothZa7rYrVIxurCbnatIKwk",
        authDomain: "newgongtingproject.firebaseapp.com",
        databaseURL: "https://newgongtingproject-default-rtdb.firebaseio.com",
        projectId: "newgongtingproject",
        storageBucket: "newgongtingproject.appspot.com",
        messagingSenderId: "437346281808",
        appId: "1:437346281808:web:f5a296945dff4429d26455"
    };
    // Initialize Firebase
    const app = initializeApp(firebaseConfig);
    const auth = getAuth(app);
    const db = getFirestore(app);
    const uid = document.getElementById("uid").value
    function getCookie(name) {
    const cookies = document.cookie.split('; ');
        for (const cookie of cookies) {
                const [cookieName, cookieValue] = cookie.split('=');
            if (cookieName === name) {
                return decodeURIComponent(cookieValue);
            }
        }
            return null;
    }
    const uidCookieValue = getCookie('uid');
    const userProfileDocRef = doc(db, "users", uid);
    await updateDoc(userProfileDocRef,{
        verify:'true',
    })
    window.location.href=`/admin/${uidCookieValue}`
</script>
</html>