<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공팅</title>
    <link rel="stylesheet" href="css/profileSet.css">
    <link rel="icon" href="pavicon/pavicon_png.png">
</head>
<body>
    <div class="body">
          <section>
            
            <div class="check">
                <div class="check-logo">
                    <svg xmlns="http://www.w3.org/2000/svg" width="121" height="120" viewBox="0 0 121 120" fill="none">
                        <rect x="0.5" width="120" height="120" rx="60" fill="#7D67FF" fill-opacity="0.2"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M89.0968 49.713C89.7878 48.9634 90.3268 48.0827 90.683 47.1213C91.0391 46.1599 91.2055 45.1366 91.1727 44.1099C91.1398 43.0831 90.9083 42.073 90.4914 41.1371C90.0746 40.2013 89.4804 39.3581 88.743 38.6557C88.0055 37.9533 87.1392 37.4054 86.1935 37.0433C85.2477 36.6813 84.2411 36.5121 83.231 36.5455C82.221 36.5789 81.2273 36.8142 80.3067 37.238C79.3861 37.6618 78.5566 38.2658 77.8657 39.0154L54.1494 64.7428L42.4336 54.1625C40.8986 52.8654 38.9277 52.2255 36.9372 52.3782C34.9468 52.5308 33.0926 53.464 31.7664 54.9806C30.4403 56.4973 29.746 58.4785 29.8302 60.5059C29.9144 62.5332 30.7706 64.4479 32.2178 65.8454L49.5262 81.4852C51.0238 82.8375 52.9813 83.5427 54.9824 83.4507C56.9836 83.3587 58.8705 82.4768 60.2419 80.9925L89.0968 49.713Z" fill="#7D67FF"/>
                        </svg>
                </div>
                <div class="check-content">
                    <p><b>친구 매칭 신청</b>이<br>완료되었습니다</p>
                    <p id="check-content-sub">매칭 결과를 기다려주세요.</p>
                </div>
                <div id="div-button">
                    <button type="submit" >
                        <a href="/">홈으로 가기</a> 
                    </button>
                </div>
            </div>
          </section>
          <script src="profileSet.js"></script>
        </div>
        <script type="text/javascript">
            (function(w, d, a){
                w.__beusablerumclient__ = {
                    load : function(src){
                        var b = d.createElement("script");
                        b.src = src; b.async=true; b.type = "text/javascript";
                        d.getElementsByTagName("head")[0].appendChild(b);
                    }
                };w.__beusablerumclient__.load(a + "?url=" + encodeURIComponent(d.URL));
            })(window, document, "//rum.beusable.net/load/b231115e233422u588");
            </script>
            
            
            <script type="text/javascript">
            (function(w, d, a){
                w.__beusablerumclient__ = {
                    load : function(src){
                        var b = d.createElement("script");
                        b.src = src; b.async=true; b.type = "text/javascript";
                        d.getElementsByTagName("head")[0].appendChild(b);
                    }
                };w.__beusablerumclient__.load(a + "?url=" + encodeURIComponent(d.URL));
            })(window, document, "//rum.beusable.net/load/b231115e233422u588");
            </script>
</body>
</html>